
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
*{
    /*shared styles*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif; 
    
}
.btn-primary{
    background-color: red;
    color: bisque;
    padding: 5px;
    margin: 20px;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 20px;
}
.text-light-gray{
    color:rgb(63, 81, 99);
    font-size: 1rem;
}

/*header-styles*/

header{
    background-color: burlywood;
    padding: 50px 150px;

}
nav{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.section-title{
    font-size: 2.7rem;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin: 30px;
}
nav li a{
    text-decoration: none;
}

/*banner-styles*/

.banner-content{
    max-width: 800px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.banner img{
    width: 100%;
}



       /* main styles */

main{
    max-width: 960px;
    margin:50px auto ;
}
.teams-container{
    display: flex;
    margin-top: 30px;
   justify-content: center;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    
}
.teams-img-container img{
    width: 260px;
}
.teams-content{
    padding-left: 80px;
    padding-right: 70px;

}
.teams-title{
    font-size: 2.5rem;
}
.quist-list{
    color: darkolivegreen;
    font-weight: 700;
}
.text-features{
    color: chocolate;
}

/*feature section styles*/

.feature{
    display: flex;
    margin-top: 70px;
    gap: 80px;
}
.feature .section-title{
    border-left: 5px solid rgb(196, 68, 46);
    padding: 10px;
}
.feature-content .card{
    padding-left:10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;

    border-radius: 8px;
background: #eeeded;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img{
  width: 170%;
  margin-left: 50px;
}
.ten-years-badge{
    font-size: 2.3rem;
    border-radius: 5px;
    background-color: darkgoldenrod;
    color: #f5d4f8;
    width: 332px;
    padding:5px;
    margin-right:0;
    text-align: center;
    position: relative;
    bottom: 100px;

}



/*fact section*/
.fact-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fact-card-container > .card {
    border: 1px solid rgb(223, 100, 78);
    padding:30px;
    border-radius: 5px;
    padding:40px 30px;
}
.fact-card-container .card-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.fact-card-container .card-title{
    font-weight: 600;
    margin-top: 5px;
    font-size: 1.25rem;
   
}
     /*sponsors section*/

.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    gap: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.sponsors-img-container img {
    width:165px;
}



/* media query */
/* mobile device */


@media screen and (max-width: 830px) {
    header{
       background-color: rgba(253, 118, 21, 0.979);  
    }
    nav, 
    .teams-container, 
    .fact-card-container,
    .sponsors-img-container,
    .feature
    {
        flex-direction: column;
    }
    main{
        background-color: rgba(85, 228, 168, 0.897); 
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .fact-card-container{
        margin-left: 150px;
        margin-right: 150px;
        gap: 10px;
    }
    .feature-img img {
        width: 100%;
        margin-left: 0; 
    }
    .ten-years-badge{
        position: static;
        max-width: 364px;
       margin: 0 auto;
    }
}

/*medium device*/


@media screen and (min-width: 830px) and (max-width:960px) {
    header{
    background-color: rgba(35, 201, 201, 0.781);
    }
   nav, 
   .teams-container,
   .sponsors-img-container
   {
    flex-direction: column;
   }

}














